Source: stats
Section: utils
Priority: optional
Maintainer: xorangekiller <xorangekiller@gmail.com>
Build-Depends: debhelper (>= 9), gzip
Standards-Version: 3.9.4
Homepage: http://www.neowin.net/forum/topic/1179351-linux-system-stats-script-next-generation/
Vcs-Git: https://github.com/xorangekiller/haggis-stats.git
Vcs-Browser: https://github.com/xorangekiller/haggis-stats

Package: haggis-stats
Architecture: all
Depends: ${perl:Depends},
         lsb-release, coreutils, procps
Recommends: x11-xserver-utils | x11-utils,
            scrot | graphicsmagick-imagemagick-compat
Description: Print basic system statistics and screenshot the results
 Stats is a simple script to print basic system statistics and immortalize
 those results with a screenshot. It was written with typical end-user desktop
 installations in mind, but a limited subset of the functionality afforded to
 those systems is provided on headless machines. This script will automatically
 detect the functionality available and print the associated system information
 accordingly, or fail gracefully if it cannot.
